.loginpage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 357px;
    max-width: 100%;
    a {
        float: left;
        color: $mainColor;
        text-decoration: underline;
        &:hover {
            color: $mainColorS;
        }
    }
}

.registerpage {
    .video {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
}